body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: inline-block;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 30px;
  font-size: 2em;
}

/* LEDS */

.led-off, .led-on {
  font-weight: bold;
  transition: color 0.3s;
}

.led-off {
  color: #555;
}

#redLedState.led-on {
  color: #c62828;
}

#greenLedState.led-on {
  color: #2e7d32;
}


/* BUTTONS */

button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #6c757d; /* default OFF */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* BUTTONS OFF state */
button.off {
  background-color: #6c757d;
}

button.off:hover {
  background-color: #5a6268;
}

/* BUTTONS ON state */
#toggleRedButton.on {
  background-color: #c62828;
}

#toggleRedButton.on:hover {
  background-color: #b71c1c;
}

#toggleGreenButton.on {
  background-color: #2e7d32;
}

#toggleGreenButton.on:hover {
  background-color: #27642b;
}

